<h1>Todo List</h1>
<form class="add-todo">
  <div>
    <label for="title">Title: </label>
    <input type="text" name="title" id="title" [(ngModel)]="newTodo.title" />
  </div>
  <div>
    <label for="date">Date: </label>
    <input type="date" name="date" id="date" [(ngModel)]="newTodo.date" />
  </div>
  <div><button (click)="addTodo()">Add</button></div>
</form>
<div class="todo-list">
  @for (todo of todos; track todo.id) {
    <div class="todo" [title]="todo.id" [style.opacity]="isPassed(todo.date) ? 0.75 : 1" [class.even]="$odd">
      <h2>
        @if (todo.isEdited) {
          <input type="text" [(ngModel)]="todo.title" />
        } @else {
          {{ todo.title }}
        }
      </h2>
      <p>
        do until:
        @if (editedTodo === todo) {
          <input type="date" [(ngModel)]="todo.date" />
        } @else {
          <!-- {{ todo.date.toDateString() }} -->
          {{ todo.date }}
        }
      </p>
      <!-- <p>status: {{todo.status}}</p> -->
      <span>
        @switch (todo.status) {
          @case (0) {
            ❌
          }
          @case (1) {
            ⏰
          }
          @case (2) {
            ✔
          }
        }
      </span>
      <div>
        @let statuses = ['❌', '⏰', '✔'];

        @for (status of statuses; track $index) {
            <button [disabled]="isPassed(todo.date) || todo.status === $index" (click)="updateTodoStatus(todo, $index)">{{status}}</button>
        }

        <!-- <button [disabled]="todo.status === 0" (click)="updateTodoStatus(todo, 0)">❌</button>
        <button [disabled]="todo.status === 1" (click)="updateTodoStatus(todo, 1)">⏰</button>
        <button [disabled]="todo.status === 2" (click)="updateTodoStatus(todo, 2)">✔</button> -->
      </div>
      <div class="actions">
        @if (!isPassed(todo.date)) {
          <button (click)="editTodo(todo)">edit</button>
        }
        <button (click)="removeTodo($index)">remove</button>
      </div>
      @if ($last) {
        <p style="color: black;">this is your last todo...</p>
      }
    </div>
  } @empty {
    <p>you have no todos</p>
  }
</div>
